<ion-view view-title="Movies ({{moviesCtrl.moviesFilter.length}} / {{moviesCtrl.movies.length}})"
          ng-click="moviesCtrl.queryClear()">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon"
                ng-click="moviesCtrl.showSearch()">
        </button>
    </ion-nav-buttons>

 

    <ion-content class="has-subheader">

        <ion-refresher on-refresh="moviesCtrl.doRefresh()"></ion-refresher>

 
             <div class="list">
xxx
            </div>

    </ion-content>

    <div ng-if="moviesCtrl.searchShowed" class="badge-div" ng-click="moviesCtrl.itemsSearch()">
        <span class="badge-icon ion-search"></span>
    </div>

</ion-view>
