<ion-view view-title="PERLYNA RESORT - MAP">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon"
                ng-click="mapCtrl.showSearch()">
        </button>
    </ion-nav-buttons>

    <ion-content class="padding" style="text-align: center; background-color: black;">

        <ion-refresher on-refresh="moviesCtrl.doRefresh()"></ion-refresher>

        <div style="text-align: center; background-color: black;">
            <div style="color: white;">
                PERLYNA RESORT - MAP
            </div>
            <div class="list">
                <div id="map" style="width: 100%; height: 470px; float: left; margin-right: 25px; color: black">
                </div>
            </div>
        </div>

    </ion-content>

    <div ng-if="mapCtrl.searchShowed" class="badge-div" ng-click="mapCtrl.itemsSearch()">
        <span class="badge-icon ion-ios-navigate"></span>
    </div>
</ion-view>